
.home[data-v-7d511a52] {
  text-align: center;
}

.tab__wrapper[data-v-56ee5458] {
  text-align: center;
  margin: 20px 0;
}
.tab__item[data-v-56ee5458] {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.tab__link[data-v-56ee5458] {
  position: relative;
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-weight: 200;
  padding: 10px;
  color: #fff;
  background-color: #F8011E;
}
.tab__link--active[data-v-56ee5458] {
    background-color: #c50118;
    font-weight: bold;
}
.tab__link--left[data-v-56ee5458] {
    border-bottom-left-radius: .5em;
    border-top-left-radius: .5em;
}
.tab__link--right[data-v-56ee5458] {
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
}

.fade-enter-active[data-v-b5283e38], .fade-leave-active[data-v-b5283e38] {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
.fade-enter[data-v-b5283e38], .fade-leave-to[data-v-b5283e38] {
  opacity: 0;
}
.sidebar-cover[data-v-b5283e38] {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 100%;
  z-index: 19;
}
.loading[data-v-b5283e38] {
  text-align: center;
  padding-top: 50px;
}

.sidebar[data-v-58eea230] {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 70%;
  height: 40em;
  height: 100vh;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 20;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: transform 300ms;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}
.sidebar--open[data-v-58eea230] {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.sidebar__head[data-v-58eea230] {
    height: 60px;
    background-color: #F8011E;
}
.sidebar__head img[data-v-58eea230] {
      height: 50px;
      padding: 5px 0 0 15px;
}
.sidebar__content[data-v-58eea230] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: auto;
    background: #fff;
}
.sidebar__menu[data-v-58eea230] {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar__link[data-v-58eea230] {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 15px 25px;
    font-size: 16px;
}
.sidebar__link i[data-v-58eea230] {
      font-size: 24px;
      margin-right: 15px;
      vertical-align: middle;
}

.pointer[data-v-0eb1276c] {
  cursor: pointer;
}
.header[data-v-0eb1276c] {
  height: 60px;
}
.header__sticky[data-v-0eb1276c] {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: table;
    margin: 0;
    height: 60px;
    background: #F8011E;
    text-align: center;
    color: #fff;
    width: 100%;
}
.header__content[data-v-0eb1276c] {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.header__brand[data-v-0eb1276c] {
    width: auto;
    height: 50px;
}
.header__nav[data-v-0eb1276c] {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}
.header__nav[data-v-0eb1276c]:first-child {
      text-align: left;
      padding-left: 15px;
      width: 50px;
}
.header__nav[data-v-0eb1276c]:last-child {
      text-align: right;
      padding-right: 15px;
      width: 50px;
}
.header__hamburger[data-v-0eb1276c], .header__search[data-v-0eb1276c] {
    background: none;
    border: none;
    padding: 0;
    outline: none;
    color: #fff;
    font-size: 30px;
}
